<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add id="Papeo_ApiRealisaprint::apirealisaprint"
             title="apirealisaprint"
             translate="title"
             module="Papeo_ApiRealisaprint"
             sortOrder="50"
             parent="Papeo_Formation2::general"
             action="apirealisaprint/commande"
             resource="Papeo_ApiRealisaprint::apirealisaprint"/>

    </menu>
</config>
